body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile-picture {
    width: 200px; /* Adjust the width as desired */
    height: 200px; /* Adjust the height as desired */
    border-radius: 10px; /* Adjust border radius to make it square */
    overflow: hidden;
    margin-right: 30px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details {
    flex: 1;
    color: #333;
}

.user-details p {
    margin: 0;
    margin-bottom: 12px;
    font-size: 18px;
}

.user-details strong {
    font-weight: bold;
    color: #555;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .right {
    float: right;
}